*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #ccc;
}
a{
  text-decoration: none;
  color: #00bd56;
  outline: none !important;
}
.btn {
  padding: 18px 40px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background: #00bd56;
  border: 1px solid #00bd56;
  color: #fff;
  /* display: block; */
}
.header-title h2{
  margin: 50px auto;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.overview {
  width: 80%;
  height: 800px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  position: relative;
  width: 100%;
  height: 700px;
  /* background: #ccc; */
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 15px 45px -9px rgba(61, 59, 59, 0.25);
  border-radius: 5px;
}
.card .content{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card .img-thumb {
  /* margin: 0 auto; */
  width: 100%;
  height: 250px;
  border: none;
  /* border: 1px solid #ccc; */
  /* background: #fff; */
  /* border-radius: 20px; */
  /* background-position: center center; */
  /* border-radius: 50px;
  background-repeat: no-repeat;
  margin: 20px; */
}

.card .img-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
.card .title {
  margin-bottom: 0px;
  margin-top: 20px;
  color: #00bd56;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .money{
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
.card .money sup {
    font-size: 24px;
    top: -1em;
    color: #b3b3b3;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}
.card .number{
  font-size: 60px;
  font-weight: 600;
  color: #000000;
}
.card .pricing-text{
  margin-bottom: 3rem !important;
}
.card .pricing-text li:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.05);
}
.card .pricing-text li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
}
.card .pricing-text li span.fa {
  color: #207dff;
  margin-right: 0.5rem !important;
}
@media only screen and (max-width: 599px) {
  .overview {
    grid-template-columns: repeat(1, 1fr);
  }
  
}


@media only screen and (min-width: 600px) and (max-width: 999px) {
  .overview {
    grid-template-columns: repeat(1, 1fr);
  }
  
}